<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeuCtFySBhBsJf-FZeNsLDd3QOJ6xUac4</string>
	<key>BUNDLE_ID</key>
	<string>com.mmth.mmthflutter</string>
	<key>CLIENT_ID</key>
	<string>981306431934-elnffidvl50ca36ce7ihd3911dcqoh01.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>981306431934</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:981306431934:ios:3593f3d1312285685641ef</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>mmth-chat</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981306431934-elnffidvl50ca36ce7ihd3911dcqoh01</string>
	<key>STORAGE_BUCKET</key>
	<string>mmth-chat.appspot.com</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
